[submodule "deps/nanovg"]
	path = deps/nanovg
	url = https://github.com/silversquirl/nanovg-zig
[submodule "deps/zgl"]
	path = deps/zgl
	url = https://github.com/ziglibs/zgl
[submodule "deps/mach-glfw"]
	path = deps/mach-glfw
	url = https://github.com/hexops/mach-glfw
